body {
  margin: 0;
}

p,
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  max-width: 512px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #0009;
  display: block;
}

.card__quote {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

.card__author {
  margin-left: auto;
  width: max-content;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.card__btn {
  display: block;
  margin-left: auto;
  color: white;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  border: 0px;
  box-shadow: 1px 1px 2px #0009;
}

.card__btn:hover {
  filter: brightness(1.4);
  transform: scale(1.08);
  transition: filter 100ms ease, transform 500ms ease;
}

.deco {
  position: absolute;
  font-size: 34vh;
  height: 100vh;
  color: black;
  overflow-y: auto;
  opacity: 0.03;
  pointer-events: stroke;
  transition: opacity 2s;
  line-height: 34vh;
}

.deco:hover {
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s;

}

.openQM {
  font-size: 100px;
  margin-right: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quotation {
  display: inline-flex;
  align-items: center;

}